.header, .top, .footer {
    background-color: #1f2937;
}
.container, button {
    background-color: #3882f6;
    border-radius: 25px;
    padding: 10px;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.text-title, a {
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 12px;
    align-items: center;
}
.subtitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.center-bot {
    background-color: #e5e7eb;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quoted {
    font-size: 28px;
    font-weight: bold;
    color: #1f2937;
}
.text {
    font-size: small;
    text-align: center;
}
img {
    max-width: 200px;
    border-radius: 25px;
}
.crew {
    border: 5px solid black;
    border-radius: 25px;
    padding: 10px;
    max-width: 200px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}

body {
    display: flex;
    flex-flow: column;
    margin:0px;
}

.top {
    display: flex;
    padding:10px 100px;
    justify-content: center;
    gap: 25px;
}

.center-top {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    max-width: fit-content;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}